<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PDS.WITSMLstudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="PDS.WITSMLstudio.Store.MongoDb.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="PDS.WITSMLstudio.Store.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="PDS.WITSMLstudio.Store.Notifications.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <PDS.WITSMLstudio.Properties.Settings>
      <setting name="UnknownElementSetting" serializeAs="String">
        <value>Ignore</value>
      </setting>
      <setting name="LogAllowPutObjectWithData" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TrajectoryAllowPutObjectWithData" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MudLogAllowPutObjectWithData" serializeAs="String">
        <value>True</value>
      </setting>
    </PDS.WITSMLstudio.Properties.Settings>
    <PDS.WITSMLstudio.Store.MongoDb.Settings>
      <setting name="IsDbAuditHistoryEnabled" serializeAs="String">
        <value>True</value>
      </setting>
    </PDS.WITSMLstudio.Store.MongoDb.Settings>
    <PDS.WITSMLstudio.Store.Properties.Settings>
      <setting name="DefaultDataSchemaVersion" serializeAs="String">
        <value>1.3.1.1</value>
      </setting>
      <setting name="IsUserAuthorizationEnabled" serializeAs="String">
        <value>False</value>
      </setting>
    </PDS.WITSMLstudio.Store.Properties.Settings>
    <PDS.WITSMLstudio.Store.Notifications.Settings>
      <setting name="KafkaBrokerList" serializeAs="String">
        <value></value>
      </setting>
      <setting name="KafkaInsertTopicName" serializeAs="String">
        <value>StoreNotification-Insert</value>
      </setting>
      <setting name="KafkaUpdateTopicName" serializeAs="String">
        <value>StoreNotification-Update</value>
      </setting>
      <setting name="KafkaUpsertTopicName" serializeAs="String">
        <value>StoreNotification-Upsert</value>
      </setting>
      <setting name="KafkaDeleteTopicName" serializeAs="String">
        <value>StoreNotification-Delete</value>
      </setting>
    </PDS.WITSMLstudio.Store.Notifications.Settings>
  </applicationSettings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="jwt.auth.path" value="/auth" />
    <add key="jwt.issuer" value="https://pds-witsml.azurewebsites.net" />
    <add key="jwt.audience" value="e81a2fb86f3b49fc8e1385d237b22d7e" />
    <add key="jwt.secret" value="YjRjMzYzZWUzMWEwNGNiMWJmNzJhYzdjOTBmMDVjMTk" />
  </appSettings>
  <connectionStrings>
    <add name="MongoDbConnection" connectionString="mongodb://localhost:27017/WitsmlStore" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="None" />
    <machineKey validation="SHA1" decryption="AES" validationKey="49DD29B01DB75E4E353F63D5EA6C252BDC4632CA5F022F4F2A14FAA9B5C2C7361211E6BEF07C1BE1CE0C270707A3841AA2327E9D4B2AADC1ED5B12CE28F4511C" decryptionKey="FE6AAFB7D4995FF24BE87118E19C42B9D0BADA633E9B3F90" />
    <membership defaultProvider="MongoDbMembershipProvider">
      <providers>
        <clear />
        <add name="MongoDbMembershipProvider" type="PDS.WITSMLstudio.Store.Security.MongoDbMembershipProvider, PDS.WITSMLstudio.Store.MongoDb.Common" connectionStringName="MongoDbConnection" enablePasswordRetrieval="false" enablePasswordReset="false" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="255" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
  </system.web>
  <system.webServer>
    
    <!-- Uncomment to enable Basic Authentication module -->
    <!--<modules>
      <add name="AuthenticationModule" type="PDS.WITSMLstudio.Store.Security.EtpAuthenticationModule, PDS.WITSMLstudio.Store.Web" />
    </modules>-->
    <rewrite>
      <rules>
        <rule name="WitsmlStoreRule" stopProcessing="true">
          <match url="^api/soap(.*)$" />
          <action type="Rewrite" url="WitsmlStore.svc{R:1}" />
        </rule>
      </rules>
    </rewrite>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WitsmlStoreBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="WitsmlStoreBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" sendTimeout="00:10:00" receiveTimeout="00:10:00" openTimeout="00:10:00" closeTimeout="00:10:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="PDS.WITSMLstudio.Store.WitsmlStoreService" behaviorConfiguration="WitsmlStoreBehavior">
        <endpoint name="WitsmlStore" address="" binding="basicHttpBinding" bindingConfiguration="WitsmlStoreBinding" contract="PDS.WITSMLstudio.Store.IWitsmlStore" />
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebSocket4Net" publicKeyToken="eb4e154b696bf72a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.14.1.0" newVersion="0.14.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
