<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Witsml.Studio.Plugins.ObjectInspector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Witsml.Studio.Plugins.ObjectInspector.Properties.Settings>
            <setting name="PluginDisplayOrder" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PluginDisplayName" serializeAs="String">
                <value>Object Inspector</value>
            </setting>
        </Witsml.Studio.Plugins.ObjectInspector.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
