<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PDS.WITSMLstudio.Store.Notifications.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebSocket4Net" publicKeyToken="eb4e154b696bf72a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.14.1.0" newVersion="0.14.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <PDS.WITSMLstudio.Store.Notifications.Settings>
      <setting name="KafkaBrokerList" serializeAs="String">
        <value />
      </setting>
      <setting name="KafkaPollingIntervalInMilliseconds" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="KafkaUpsertTopicName" serializeAs="String">
        <value>StoreNotification-Upsert</value>
      </setting>
      <setting name="KafkaDeleteTopicName" serializeAs="String">
        <value>StoreNotification-Delete</value>
      </setting>
      <setting name="KafkaDebugContexts" serializeAs="String">
        <value>all</value>
      </setting>
      <setting name="KafkaEnableAutoCommit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="KafkaInsertTopicName" serializeAs="String">
        <value>StoreNotification-Insert</value>
      </setting>
      <setting name="KafkaUpdateTopicName" serializeAs="String">
        <value>StoreNotification-Update</value>
      </setting>
    </PDS.WITSMLstudio.Store.Notifications.Settings>
  </applicationSettings>
</configuration>