<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="applicationName" value="/" />
    <add key="maxInvalidPasswordAttempts" value="255" />
    <add key="enablePasswordReset" value="false" />
    <add key="enablePasswordRetrieval" value="false" />
    <add key="requiresUniqueEmail" value="false" />
    <add key="writeExceptionsToEventLog" value="false" />
  </appSettings>
  <connectionStrings>
    <add name="MongoDbConnection" connectionString="mongodb://localhost:27017/WitsmlStore" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="None" />
    <machineKey validation="SHA1" decryption="AES" validationKey="49DD29B01DB75E4E353F63D5EA6C252BDC4632CA5F022F4F2A14FAA9B5C2C7361211E6BEF07C1BE1CE0C270707A3841AA2327E9D4B2AADC1ED5B12CE28F4511C" decryptionKey="FE6AAFB7D4995FF24BE87118E19C42B9D0BADA633E9B3F90" />
    <membership defaultProvider="MongoDbMembershipProvider">
      <providers>
        <clear />
        <add name="MongoDbMembershipProvider" type="PDS.WITSMLstudio.Store.Security.MongoDbMembershipProvider, PDS.WITSMLstudio.Store.MongoDb.Common" connectionStringName="MongoDbConnection" enablePasswordRetrieval="false" enablePasswordReset="false" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="255" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>