<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PDS.WITSMLstudio.Store.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="PDS.WITSMLstudio.Store.Kafka.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PDS.WITSMLstudio.Store.Kafka.Properties.Settings>
            <setting name="KafkaBrokerList" serializeAs="String">
                <value />
            </setting>
            <setting name="KafkaPollingIntervalInMilliseconds" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="KafkaDebugContexts" serializeAs="String">
                <value>all</value>
            </setting>
            <setting name="KafkaEnableAutoCommit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KafkaEnableAutoCreate" serializeAs="String">
                <value>True</value>
            </setting>
        </PDS.WITSMLstudio.Store.Kafka.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>