<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PDS.WITSMLstudio.Store.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="PDS.WITSMLstudio.Store.Kafka.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <PDS.WITSMLstudio.Store.Kafka.Properties.Settings>
      <setting name="KafkaBrokerList" serializeAs="String">
        <value />
      </setting>
      <setting name="KafkaSecurityProtocol" serializeAs="String">
        <value>PLAINTEXT</value>
      </setting>
      <setting name="KafkaSaslMechanism" serializeAs="String">
        <value />
      </setting>
      <setting name="KafkaSaslUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="KafkaSaslPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="KafkaEnableIdempotence" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="KafkaConsumerGroupIdPrefix" serializeAs="String">
        <value>PDS.KafkaClient.</value>
      </setting>
      <setting name="KafkaCompressionType" serializeAs="String">
        <value />
      </setting>
      <setting name="KafkaMessageMaxBytes" serializeAs="String">
        <value>1000000</value>
      </setting>
    </PDS.WITSMLstudio.Store.Kafka.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>