<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Confluent.Kafka" version="1.2.1" targetFramework="net452" />
  <package id="librdkafka.redist" version="1.2.1" targetFramework="net452" />
  <package id="log4net" version="2.0.8" targetFramework="net452" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net452" />
  <package id="System.Memory" version="4.5.3" targetFramework="net452" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net452" />
</packages>