<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PDS.WITSMLstudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <PDS.WITSMLstudio.Properties.Settings>
      <setting name="ChannelDataBlockBatchSize" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MaxDataDelimiterLength" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="UnknownElementSetting" serializeAs="String">
        <value>Ignore</value>
      </setting>
      <setting name="ChannelDataBlockFlushRateInMilliseconds" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="AllowDuplicateNonRecurringElements" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="InvalidDataRowSetting" serializeAs="String">
        <value>Ignore</value>
      </setting>
      <setting name="LogAllowPutObjectWithData" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TrajectoryAllowPutObjectWithData" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MudLogAllowPutObjectWithData" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultWmlsUserAgent" serializeAs="String">
        <value>PDS WITSMLstudio Client</value>
      </setting>
    </PDS.WITSMLstudio.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebSocket4Net" publicKeyToken="eb4e154b696bf72a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.14.1.0" newVersion="0.14.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>
