<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PDS.WITSMLstudio.Store.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebSocket4Net" publicKeyToken="eb4e154b696bf72a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.14.1.0" newVersion="0.14.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <PDS.WITSMLstudio.Store.Properties.Settings>
      <setting name="OverrideServerVersion" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultVendorName" serializeAs="String">
        <value>PDS Americas</value>
      </setting>
      <setting name="DefaultContactName" serializeAs="String">
        <value>WITSMLstudio Team</value>
      </setting>
      <setting name="DefaultContactEmail" serializeAs="String">
        <value>witsmlstudio@pds.group</value>
      </setting>
      <setting name="DefaultContactPhone" serializeAs="String">
        <value>+1 (832) 917-1705</value>
      </setting>
      <setting name="DefaultServerDescription" serializeAs="String">
        <value>PDS WITSMLstudio Store (SOAP + ETP)</value>
      </setting>
      <setting name="StreamIndexValuePairs" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MaxMessageRate" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="ChannelDataChunkDepthRangeSize" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="ChannelDataChunkTimeRangeSize" serializeAs="String">
        <value>900000000</value>
      </setting>
      <setting name="TruncateXmlOutDebugSize" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DefaultDataSchemaVersion" serializeAs="String">
        <value>1.3.1.1</value>
      </setting>
      <setting name="MaxDataLength" serializeAs="String">
        <value>5000000</value>
      </setting>
      <setting name="ChunkSizeBytes" serializeAs="String">
        <value>10485760</value>
      </setting>
      <setting name="DataDelimiterErrorMessage" serializeAs="String">
        <value>The data delimiter must not contain any digits, space, '+', '-', or '.' and is two characters or less.</value>
      </setting>
      <setting name="MaxStationCount" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="ChannelDataDepthRangeStepSize" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ChannelDataTimeRangeStepSize" serializeAs="String">
        <value>5000000</value>
      </setting>
      <setting name="StreamChannelDataDelayMilliseconds" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="LogMaxDataNodesGet" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="LogMaxDataNodesAdd" serializeAs="String">
        <value>15000</value>
      </setting>
      <setting name="LogMaxDataNodesUpdate" serializeAs="String">
        <value>15000</value>
      </setting>
      <setting name="LogMaxDataNodesDelete" serializeAs="String">
        <value>15000</value>
      </setting>
      <setting name="LogMaxDataPointsGet" serializeAs="String">
        <value>3000000</value>
      </setting>
      <setting name="LogMaxDataPointsAdd" serializeAs="String">
        <value>4500000</value>
      </setting>
      <setting name="LogMaxDataPointsUpdate" serializeAs="String">
        <value>4500000</value>
      </setting>
      <setting name="LogMaxDataPointsDelete" serializeAs="String">
        <value>3000000</value>
      </setting>
      <setting name="TrajectoryMaxDataNodesGet" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="TrajectoryMaxDataNodesAdd" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="TrajectoryMaxDataNodesUpdate" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="TrajectoryMaxDataNodesDelete" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="MudlogMaxDataNodesGet" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="MudlogMaxDataNodesAdd" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="MudlogMaxDataNodesUpdate" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="MudlogMaxDataNodesDelete" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="MaxRequestLatestValues" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="ChangeDetectionPeriod" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="LogGrowingTimeoutPeriod" serializeAs="String">
        <value>3600</value>
      </setting>
      <setting name="MudLogGrowingTimeoutPeriod" serializeAs="String">
        <value>3600</value>
      </setting>
      <setting name="TrajectoryGrowingTimeoutPeriod" serializeAs="String">
        <value>3600</value>
      </setting>
      <setting name="IsUserAuthorizationEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsCascadeDeleteEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultTimeZone" serializeAs="String">
        <value>-06:00</value>
      </setting>
      <setting name="DefaultServerName" serializeAs="String">
        <value>PDS WITSMLstudio Store</value>
      </setting>
      <setting name="MaxGetResourcesResponse" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="MaxGeologyIntervalCount" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="IsChannelDataAdapterEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefaultDescribeUri" serializeAs="String">
        <value />
      </setting>
      <setting name="IsRequestCompressionEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GlobalInsertTopicName" serializeAs="String">
        <value>WitsmlDataAdapter-Insert</value>
      </setting>
      <setting name="GlobalUpdateTopicName" serializeAs="String">
        <value>WitsmlDataAdapter-Update</value>
      </setting>
      <setting name="GlobalReplaceTopicName" serializeAs="String">
        <value>WitsmlDataAdapter-Replace</value>
      </setting>
      <setting name="GlobalDeleteTopicName" serializeAs="String">
        <value>WitsmlDataAdapter-Delete</value>
      </setting>
      <setting name="ThrowForUnsupportedOptionsIn" serializeAs="String">
        <value>False</value>
      </setting>
    </PDS.WITSMLstudio.Store.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>
