<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PDS.Witsml.Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <PDS.Witsml.Server.Properties.Settings>
      <setting name="MaxDataNodes" serializeAs="String">
        <value>15000</value>
      </setting>
      <setting name="DefaultServerName" serializeAs="String">
        <value>PDS.Witsml.Server</value>
      </setting>
      <setting name="DefaultServerVersion" serializeAs="String">
        <value>2016.1</value>
      </setting>
      <setting name="DefaultVendorName" serializeAs="String">
        <value>PDS Americas</value>
      </setting>
      <setting name="DefaultContactName" serializeAs="String">
        <value>Bobby Diaz</value>
      </setting>
      <setting name="DefaultContactEmail" serializeAs="String">
        <value>bobby.diaz@pds.nl</value>
      </setting>
      <setting name="DefaultContactPhone" serializeAs="String">
        <value>+1 (832) 917-1705</value>
      </setting>
      <setting name="DefaultServerDescription" serializeAs="String">
        <value>PDS WITSML Server (SOAP + ETP)</value>
      </setting>
      <setting name="StreamIndexValuePairs" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MaxMessageRate" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="MaxDataPoints" serializeAs="String">
        <value>5000000</value>
      </setting>
      <setting name="ChannelDataChunkDepthRangeSize" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="ChannelDataChunkTimeRangeSize" serializeAs="String">
        <value>5000000000</value>
      </setting>
      <setting name="TruncateXmlOutDebugSize" serializeAs="String">
        <value>0</value>
      </setting>
    </PDS.Witsml.Server.Properties.Settings>
  </applicationSettings>
</configuration>